body {
    background-color: #A97D48;
}

@font-face {
    font-family: 'genzschetheyse';
    src:
            url('../../../wormtomb/assets/fonts/GenzschEtHeyse/genzschetheyse-webfont.woff2') format('woff2'),
            url('../../../wormtomb/assets/fonts/GenzschEtHeyse/genzschetheyse-webfont.woff') format('woff');,
            url('../../../wormtomb/assets/fonts/GenzschEtHeyse/GenzschEtHeyse.ttf') format('truetype');
}

@font-face {
    font-family: 'kaiseiopti';
    src:
            url('../../../wormtomb/assets/fonts/KaiseiOpti/KaiseiOpti-Regular.woff2') format('woff2'),
            url('../../../wormtomb/assets/fonts/KaiseiOpti/KaiseiOpti-Regular.woff') format('woff');,
            url('../../../wormtomb/assets/fonts/KaiseiOpti/KaiseiOpti.ttf') format('truetype');
}

.header {
    font-family: 'genzschetheyse', monospace;
    font-size: 9rem;
    color: black;
}

.sub-header {
    font-family: 'kaiseiopti', monospace;
    font-size: 4rem;
    color: black;
}

.link {
    justify-content: center;
    align-content: center;
    font-family: kaiseiopti, monospace;
    font-size: 2.5rem;
    color: #660000;
    text-decoration: underline;
}

.link:link {
    color: black;
}

.link:visited {
    color: black;
}

.link:hover {
    color: #660000;
}

.caption-link {
    font-size: 2rem;
}

.email-link {
    color: #0c4128;
}

.envelope {
}

.contact-container {
    display: inline-block;
    align-content: center;
    height: auto;
    width: auto;
}

.span-item {
    display: flex;
}

.margins {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
}

.nav-links {
    justify-content: center;
    align-content: center;
}

.max-width {
    max-width: 40rem;
}

.contact-img {
    max-height: 450px;
}

figcaption {
    text-align: center;
    color: black;
    font-size: 2rem;
    font-family: kaiseiopti, monospace;
}

.gallery-elements img{
    height: 10rem;
    cursor: pointer;
    opacity: .7;
    display: table-column;
    padding: 2px;
    background-color: black;
    margin-left: 20rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.gallery-elements img:hover {
    opacity: 1;
}

.image-box img {
    position: fixed;
    top: 250px;
    right: 50px;
    bottom: 50px;
    height: 500px;
    transition: transform 1s;
}

.image-box {
    padding: 10px;
}

.gallery-canvas {
    
}
