.slider {
    text-align: center;
}

.slider img {
    position: absolute;
    top: 250px;
    left: 200px;
    right: 200px;
}

.slide {
    margin: auto;
    max-width: 900px;
    max-height: 500px;
    position: relative;
}

.side-margins {
    margin-left: 3rem;
    margin-right: 3rem;
}
