body {
    background-color: #A97D48;
}

@font-face {
    font-family: 'genzschetheyse';
    src:
            url('../../../wormtomb/assets/fonts/GenzschEtHeyse/genzschetheyse-webfont.woff2') format('woff2'),
            url('../../../wormtomb/assets/fonts/GenzschEtHeyse/genzschetheyse-webfont.woff') format('woff');,
            url('../../../wormtomb/assets/fonts/GenzschEtHeyse/GenzschEtHeyse.ttf') format('truetype');
}

@font-face {
    font-family: 'kaiseiopti';
    src:
            url('../../../wormtomb/assets/fonts/KaiseiOpti/KaiseiOpti-Regular.woff2') format('woff2'),
            url('../../../wormtomb/assets/fonts/KaiseiOpti/KaiseiOpti-Regular.woff') format('woff');,
            url('../../../wormtomb/assets/fonts/KaiseiOpti/KaiseiOpti.ttf') format('truetype');
}

.header {
    font-family: 'genzschetheyse', monospace;
    font-size: 13rem;
    color: black;
}

.sub-header {
    font-family: 'kaiseiopti', monospace;
    font-size: 4rem;
    color: black;
}

.link {
    font-family: kaiseiopti, monospace;
    font-size: 2.5rem;
    color: black;
    text-decoration: underline;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.index-container {
    display: grid;
    grid-gap: 10rem;
    align-content: center;
    justify-content: center;
    margin: 25rem;
}

.contact-container {
    display: grid;
    justify-content: center;
    grid-gap: 5rem;
    align-content: center;
}

.index-links {
    grid-column: 1;
    display: grid;
    justify-content: left;
    align-content: center;
}

.index-img {
    grid-column: 2;
    justify-content: right;
    align-content: center;
}

.contact-link {
    grid-column: 1;
    align-content: center;
    justify-content: center;
    font-family: kaiseiopti, monospace;
    font-size: 2.5rem;
    color: black;
    text-decoration: underline;
}

.contact-img {
    grid-column: 2;
}

.contact-img:hover {
    opacity: 0.8;
}

.single-img {
    max-width: 40rem;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}