@font-face {
    font-family: 'Kaisei Opti';
    src: url('KaiseiOpti-Regular.woff2') format('woff2'),
        url('KaiseiOpti-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

